body{
    background-color: #303030;
}

h1{
    color: #ffffff;
    position: fixed;
    top: 5%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
h2{
    color: white;
    position: fixed;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
#changemapbutton{
    color:  black;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    height: 40px;
    width: 90px;
    cursor: pointer;
    background-color: #ffff00;
    font-family: "Arial Black";
    font-size: x-large;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px #b8ac14;
    transform: translateX(-50%);
}
#changemapbutton:hover{
    background-color: #ffed00;
}
#changemapbutton:active{
    background-color: #ffff00;
    box-shadow: 0px 2px #b8ac14;
    transform: translateY(4px) translateX(-50%);
}

#menubutton{
    position: relative;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 1;
    margin: 5px;

}
#menubutton span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    z-index: 1;
}

#menubutton:hover span{
    padding-right: 25px;
}
#menubutton span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#menubutton:hover span:after {
  opacity: 1;
  right: 0;
}

#menubutton.active {
    transform: translateX(100px);
}



#menu-section {
    z-index: 0;
    position: fixed;
    top: 0px;
    left: -250px;
    width: 220px;
    height: 100vh;
    background-color: #171717;
    color: white;
    padding: 10px;
    border-radius: 4px;
    opacity: 1;
    pointer-events: none;
    transition: left 0.35s ease-in-out, opacity 0.35s ease-in-out;
    text-align: right;
    padding-top: 110px;
}

#menu-section.show {
    left: -15px;
    opacity: 1;
    pointer-events: auto;
}
#menu-section p {
    margin-bottom: 50px;
}

a:visited, a:link {
    position: relative;
    background-color: darkgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    border-radius: 4px;
}
a:hover, a:active{
    position: relative;
    background-color: darkgray;
    color: black;
    text-align: center;
    text-align-all: center;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    border-radius: 4px;
    padding: 15px 3px;
}

#displaymode{
    position: relative;
    background-color: darkgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    border-radius: 4px;
    cursor: not-allowed;
}